{% extends "templates/layout.jinja2" %}

{% block head %}
    <link rel="stylesheet" href="/content/mathjax.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'>
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX","output/HTML-CSS"],
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
    </script>
{% endblock %}

{% block content %}
    <div id  = "question_numbers" style="text-align: right;">
        <span id="question_no">1</span>/10<span/>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="MathOutput" class="preview" style="">$${}$$</div>
{% endblock %}

{% block footer %}
    <div class="input-group">
        <span class="input-group-addon">Your answer</span>
        <input id="answer" type="text" class="form-control" placeholder="Press enter to submit">
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var the_questions = null;
        var math = null;
        const QUEUE = MathJax.Hub.queue;  // shorthand for the queue

        function populateMath(question) {
            //console.log("Q= " + question);
            QUEUE.Push(["Text",math,"\\displaystyle{"+question+"}"]);
        }

        //clear answer and let answer box has focus after page is loaded
        $(document).ready(function () {
            $('#answer').val('');
            $('#answer').focus();
            QUEUE.Push(function () {
                math = MathJax.Hub.getAllJax("MathOutput")[0];
            });
        });

        //get questions
        $.getJSON("/math/questions", function (questions){
            //format as Latex
            $.each(questions, function(idx,question){
                question['question'] = question['question'].replace(/\*/g," \\times ");
            });
            the_questions = questions;
            //console.log(questions);
            window.setTimeout(function(){populateMath(the_questions[0]['question']);},1000);
            /*
            //todo: https://stackoverflow.com/questions/3014018/how-to-detect-when-mathjax-is-fully-loaded
            //still cannot render when End signal is received.
            MathJax.Hub.Register.StartupHook("End",function () {
                populateMath(q);
            });
            */
        });
    </script>
{% endblock %}
